@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

h1 {
	margin:0 auto
}
html {
    padding: 0;
    margin: 0 auto;
	width: 100%;
    max-width: 1024px;
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.container-lg{
background-color: rgba(255,255,255,0.3);	
}

img {
    margin: 0 auto;
    display: block;
    width: 25%;
    height: 25%;
    border-radius: 10px;
    border: 2px solid black;
}